<div class="d-grid gap-2">
    <a class="btn btn-lg btn-primary" asp-controller="Guest" asp-action="Reservation1">Book a Room</a>
    <a class="btn btn-lg btn-primary" type="button">Block button</a>
</div>