@model Guest


<form method="post" asp-action="Reservation">
    <div class="form-group">
        <label asp-for="Email" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label asp-for="Fname" class="form-label mt-4">First name</label>
        <input type="text" class="form-control"  placeholder="Frist name" autocomplete="off">
    </div>
    <div class="form-group">
        <label asp-for="Lname" class="form-label mt-4">Last name</label>
        <input type="text" class="form-control" placeholder="Last name" autocomplete="off">
    </div>
    <div class="form-group">
        <label asp-for="Phone_number" class="form-label mt-4">Phone Number</label>
        <input type="text" class="form-control" placeholder="Phone Number" autocomplete="off">
    </div>
    <br /> <br />
    <button type="submit" class="btn btn-secondary" asp-controller="Home" asp-action="Index">Next</button>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}